body {
    background: url("../images/bg4.jpg");
    background-size: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
}

.container {
    margin:30px auto 0;
    position:relative;
    text-align:left;
    width:1000px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background:url('../images/bg4.jpg');
    border-bottom:2px solid #e0e0e0;
    position: relative;
   
}
.top_head {
    overflow: hidden;
    position: relative;
}
.logo {
    float: left;
    padding: 37px 0 0 39px;
}
.logo img{
    width: 100px;
    border-radius: 50%;
}
#search {
    float: right;
    margin: 61px 41px 0 0;
    text-align: right;
}

#search form input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
    padding: 5px;
    width: 129px;
}
#search form input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0px;
    color: #383838;
    cursor:pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 64px;
}



nav {
    background-color:orange;
    overflow: hidden;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    float: right;
    list-style-type: none;
}
nav ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li.selected a {
    background: none repeat scroll 0 0 #049733;
}
#submenu {
    background-color: white;
    border: 1px solid #E0E0E0;
    height: 34px;
    margin: 20px 40px;
}
#submenu ul {
    margin: 0;
    padding: 0;
}
#submenu li {
    float: left;
    line-height: 1em;
    list-style: none outside none;
    margin: 0;
    position: relative;
    margin-left: 10px;
}
#submenu li a {
    background: no-repeat scroll 0 9px transparent;
    border-right: 1px solid #E0E0E0;
    color: #383838;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 0 19px;
    padding: 9px 61px 11px 24px;
    text-decoration: none;
    text-transform: uppercase;
}
#submenu li a:hover, #submenu ul li.selected {
    background-color: orange;
}

#content #top h3 {
    
    border-bottom: 1px solid #E0E0E0;
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}



#content #top h3 .add{
    float: right;
    padding-right: 20px;
}


#main {
    background-color: #fff;
    padding:20px 0;
}

#main #content #left li a{
    text-decoration: none;
    cursor: pointer;
}

#main #content #right table tr td input{
    cursor: pointer;
}
#main #content #right table tr td input:hover{
background: #51f75c;
}


#content {
    overflow: hidden;
}
#content #right{
    border: 1px solid #E9E9E9;
    float: right;
    margin: 0 2%;
    width: 75%;
    margin-top: -55px;
}

#content ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
#content #left{
    border: 1px solid #E9E9E9;
    float: left;
    margin: 0 2%;
    width: 20%;
}
#content #left ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
    padding-top: 10px;
}
#content #left ul li a {
    color: orange;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;

}

#content #left ul li a:hover, #content #left ul li.selected {
    background-color: black;
}
#content #right ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}
#content #right ul li:hover {
    background-color: #fff;
}

#content #right ul li .img {
    text-align: center;
}

#content #right ul li .img img {
    height:128px;
    width:128px;
    border-radius: 50%;
}

#content #right ul li .info {
    padding: 17px 20px 0 19px;
}

#content ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#content ul li .info .title:hover {
    color: #049733;
}
#content #right ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #right ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}

#content #right ul li .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
}
#content #right ul li .info .actions {
    overflow:hidden;
}
#content #right ul li .info .actions a {
    border: 1px solid #E0E0E0;
    color: #fd7a01;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content #right ul li .info .actions a:first-child {
    color: #009832;
    float:left;
}

table, th, tr, td{
    border-style: none;
    padding: 20px;
    padding-top: 0px;
}

th{
    
    font-style: italic;
}


footer {
    width: 980px;
    position: fixed;
    margin-top: 50%;
    bottom: 0%;
    background: #f4f7f5;
    border-top: 1px solid #E0E0E0;
    margin: 0 0 5px;
    padding: 15px 0 15px 20px;
}
